[credential]
	helper = manager-core
[user]
	name = David Jefts
	email = david.l.jefts@nasa.gov
[credential "https://bitbucket.tietronix.com"]
	provider = bitbucket
[credential "https://appdat.jsc.nasa.gov"]
	provider = generic
[push]
        default = upstream
        autoSetupRemote = true
[core]
	autocrlf = true
	symlinks = true
	ignoreCase = false
	excludesfile = C:/Users/djefts/.gitignore
[gui]
	recentrepo = C:/Users/djefts/iris-dev
[credential "helperselector"]
	selected = manager-core
